@media screen and (min-width: 1440px) {
    .hamburger-pc {
        cursor: pointer;
    }

    .header-dishes {
        bottom: 0%;
    }

    .cta {
        text-transform: uppercase;
        cursor: pointer;
        font-size: 16px;
        font-weight: 700;
        position: absolute;
        top: 30px;
        bottom: auto;
        left: auto;
        right: 30px;
    }

    .section-subheading{
        font-size: 49px !important;
        line-height: 52px !important;
    }
}

@media screen and (min-width: 1280px) {
    .logo {
        top: 20px;
    }

    .logo-wrapper {
        width: 146px;
        height: 78px;
    }

    .header {
        max-width: 1068px;
    }

    .header-jol {
        text-align: center;
        width: 1068px;
        height: 404px;
    }

    .header-dishes {
        height: 780px;
        padding-top: 20px;
        top: -30px;
        transform: scale(1.6);
    }

    .header-section {
        padding-top: 120px;
    }

    .section-heading, .section-heading.left {
        font-size: var(--section-heading-xl);
        line-height: 66px;
    }

    .paragraph {
        font-size: var(--section-text-xl);
        line-height: 28px;
    }

    .menu-content {
        max-width: 1320px;
    }

    .section-subheading {
        font-size: 49px;
    }

    .menu-dishes {
        width: 100%;
    }

    .menu-table-row {
        padding-bottom: 40px;
    }

    .menu-table-item {
        font-size: var(--section-text-xl);
    }

    .cell-info {
        font-size: var(--section-subtext-xl);
    }

    .headings {
        width: 50%;
    }

    .cta {
        display: block;
    }

    .drawer-body {
        padding-top: 100px;
        padding-bottom: 130px;
    }

    .menu-list {
        width: 69%;
    }

    .list {
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    .image-2 {
        object-fit: contain;
        width: 100%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 991px) {
    .hamburger-btn {
        height: 22px;
    }

    .hamburger-pc {
        top: 20px;
        left: 20px;
    }

    .hamburger-label {
        display: none;
    }

    .logo {
        top: 8px;
    }

    .header-jol {
        width: 312px;
        height: 190px;
    }

    .header-dishes {
        top: 0;
        height: 525px;
    }

    .mid-section {
        padding: 60px 20px;
    }

    .section-heading {
        font-size: var(--section-heading-md);
        line-height: 37px;
    }

    .section-heading.left {
        margin-top: 30px;
    }

    .menu {
        padding-left: 20px;
        padding-right: 20px;
    }

    .section-subheading {
        font-size: 23px !important;
        line-height: 32px;
    }

    .dishes-image-wrapper {
        width: 75%;
    }

    .menu-dishes.top-margin {
        margin-top: 30px;
    }

    .menu-table-row {
        grid-column-gap: 16px;
        grid-row-gap: 16px;
        flex-flow: column;
    }

    .menu-table-cell {
        grid-column-gap: 4px;
        grid-row-gap: 4px;
        width: 100%;
    }

    .text-block {
        font-weight: 400;
    }

    .cell-info {
        font-size: var(--section-subtext-md);
    }

    .close-btn {
        padding-top: 20px;
        padding-left: 20px;
    }

    .cross-icon {
        height: 22px;
    }

    .drawer-body {
        padding-top: 26px;
    }

    .menu-list {
        grid-column-gap: 30px;
        grid-row-gap: 30px;
        flex-flow: column;
        align-items: flex-start;
        width: 100%;
    }

    .list-2 {
        text-align: left;
    }

    .image-2 {
        object-fit: contain;
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 768px) {
    .header-dishes {
        height: 750px;
        top: 150px;
    }
    .hamburger-label {
        display: none;
    }

    .logo-wrapper {
        width: 82px;
        height: 43px;
    }

    .dishes-image-wrapper {
        width: 100%;
    }

    .menu-dishes {
        margin-left: -80px;
        margin-right: -80px;
        padding-left: 0;
        padding-right: 0;
    }

    .image-3 {
        text-align: left;
        display: block;
    }
}

@media screen and (max-width: 675px) {
    .header-dishes img{
        transform: scale(1.75);
    }
}

@media screen and (max-width: 520px) {
    .header-dishes{
        top: 150px;
        height: 550px;
    }
    .header-dishes img{
        transform: scale(2);
    }
}
@media screen and (max-width: 375px) {
    .header-dishes{
        top: 100px;
        height: 425px;
    }
}
